@media only screen and (max-width: 600px) and (max-device-width: 600px) {

  .portfolio-heading{
    margin-left: 5%;
    margin-right: 5%;
  }
  .portfolio-desc, .portfolio-img, .portfolio-video{
    max-width: 90%;
    height: fit-content;

    margin: 5%;
  }

  #bio-img{
    max-width: 90%;
    height: fit-content;

    margin: 5%;
  }

  #bio-text {
    max-width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

  
  }

  
}
