html {
  margin: 0px;

}
body{
  margin: 0px;
}

h1{
  text-align: center;
}

html, body, p, h1, img{
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: Arial, sans-serif;
}

img{
  border-radius: 2%;
}
/* Add-on classes */

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar{
  display: none;
}
.hide-scrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  overflow-y: hidden;
}

.center-text{
  text-align: center;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{

}
/* Items by ids */

#navbar{
  text-align: center;
}

.sidebar>img{
  border-radius: 50%;


}

#bio-text{
  font-size: 1rem;
}
