@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
  margin: 0px;
  background-color: #190A33;

}
body{
  margin: 5%;
}

html, body, p, h1, img{
  max-width: 100%;
}

h4, h5, h6, p{
  font-family: Arial, sans-serif;
  color: #FBF7EE;
}

h1, h2, h3{
  font-family: 'Poppins', Arial, sans-serif;
  color: #FBF7EE;
}

h1{
  font-size: 3em;
}

img{
  border-radius: 2%;
}

a{
  color: #FBF7EE;
}

a:hover{
  color: #F4E9CD;
}

/* Add-on classes */

.main{
  background-color: #948994;
}

.center-text{
  text-align: center;
}

.navigation-link{
  padding-left: 20%;
  padding-right: 20%;
}

.portfolio-text{
  margin: 0%;
}

.contact-text{
  max-width: fit-content;
  padding-left: 2%;
  padding-right: 2%;
}

/* Items by ids */

.sidebar>img{
  border-radius: 50%;
}

#bio-text{
  font-size: 1rem;
}

#top-bar{
  background-color:#190A33;
  position: sticky;
  top: 0;
}

#header{
  display: flex;
  justify-content: center;
}

#title{
  margin-bottom: 0%;
  text-align: center;

  font-size: 4em;
  color: #FBF7EE;
}
