@media (min-device-width: 601px) and (min-width: 601px) {

  .portfolio-heading{
    width: 100%;
    padding: 0%;
    margin-bottom: 0%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .portfolio-item{
    display: inline-flex;
    padding: 2%;
    }

  .portfolio-desc{
    max-width: 60%;
    padding-right: 3%;
  }

  .portfolio-img, .portfolio-video{
    max-width: 40%;
    height: fit-content;
  }

  .main{

    border-radius: 15px
  }

  .sidebar{
    max-width: 10%;

    margin: 2.5%;
    margin-bottom: 0px;

    height: 100vh;

    position: sticky;
    top: 0;
  }

  #sidebar>img{
    margin-top: 5%;
  }

  .padding-2{
    padding: 2%;
  }

  #bio-img{
    max-width: 30%;
    height: fit-content;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-left: 3%;
    padding-right: 3%;
  }

  #bio-text {
    max-width: 70%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .subheader{
    width: 33.3333333%;
    display:flex;
  }
}
