<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TITLE</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="UPDATE TO CORRECT LINK css/style.css">
    <link rel="stylesheet" href="UPDATE TO CORRECT LINK css/wide-screen.css">
    <link rel="stylesheet" href="UPDATE TO CORRECT LINK css/small-screen.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>

    <!-- Javascript -->
    <script type="text/javascript" src="js/site.js" defer>

    </script>
  </head>
  
  <body>

    <!-- TOP BAR -->
    <div id='top-bar'>

      <div id='header' class="flex-display">

        <div class="subheader left">
  
          <p class='contact-text'>
            <a class="text-decoration-none" href="pages/projects.html">projects</a>
          </p>
  
          <p class='contact-text'>
            <a class="text-decoration-none" href="pages/bio.html">resume</a>
          </p>

          <p class='contact-text'>
            <a class="text-decoration-none" href="pages/bio.html">contact</a>
          </p> 

        </div>
        
        <div class="subheader right">
          <p class="name-text contact-text">
            <a class="text-decoration-none" href="index.html">Alia Toth-Smith</a></p>
        </div>
      </div>
    </div>
    <!-- TOP BAR END -->

    <!-- MAIN BODY -->
    <div class='main'>
      <div>
        <h1 class="portfolio-heading center-text">Who I Am</h1>

        <div class="flex-display center">
          <div class='portfolio-item width-70'>
          <div class='portfolio-text width-70 padding-2'>
            

            <p class="margin-0">
              Alia Toth-Smith is a writer, designer, and programmer
              currently pursuing a B.A. in <i>Art and Design:Games
              and Playable Media</i> at University of California, Santa Cruz.
              She uses her creative, technical, and analytical tools to produce creative projects in a variety of genres.
              She's currently exploring sound design, table top role-playing games, and short, story-based games.
              <br><br>
              In her free time, she likes to play with her dog, write fiction, and spend time with her family.
              <br><br>
              In Spring 2021, she worked as an assistant director on the French play for the Miriam Ellis International Playhouse.

            </p>
          </div>

          <div class="padding-2">
            <img style="max-width:500px; width:100%;"src="img/bio/profile.jpg" alt="A picture of Alia Toth-Smith from the shoulders up.
          She is a young adult, asian, and female presenting with long black hair. She is wearing
          a long-sleeved white button-up shirt.">
          </div>
        
          
          

        </div>


        </div>
      </div>
    </div>
    <!-- MAIN BODY END -->

  </body>
</html>

